{% extends 'base.html' %}

{% block menubar %}
{% include 'menu_bar.html' with activate="contact" user=user %}
{% endblock %}

{% block content %}
<div class="content">
  <div class="content_resize">

    <div class="mainbar">
      {% if msg %}
      <div class="article">
      <h2><span>{{msg}}</span></h2>
      <div class="post_content">
        <p style="line-height: 175%">
        {% if msg %}  {{sub_msg}}<br/> {% endif %}
        </p>
      </div>
      <div class="clr"></div>
      </div>
      {% endif %}

      <div class="article">
        <h2><span>Contact</span></h2>
        <div class="post_content">
           <p style="line-height: 175%">
            <a href="https://emcl.iwr.uni-heidelberg.de/people/loesel-philipp" style="color:#4c4c4c;">Dr. Philipp Lösel</a> <br />
            Department of Materials Physics <br />
            Research School of Physics <br />
            The Australian National University <br />
            60 Mills Rd, Acton ACT 2601, Australia <br />
            E-mail: <a href="mailto:philipp.loesel@anu.edu.au">philipp.loesel@anu.edu.au</a></p>
        </div>
        <div class="clr"></div>
      </div>

    </div>

    {% block sidebar %}
    {% include 'side_bar.html' %}
    {% endblock %}
    <div class="clr"></div>
  </div>
</div>
{% endblock %}
