{% extends 'base.html' %}

{% block menubar %}
{% include 'menu_bar.html' with activate="home" user=user %}
{% endblock %}

{% block content %}
<div class="content">
  <div class="content_resize">

    <div class="mainbar">
      {% if msg %}
      <div class="article">
      <h2><span>{{msg}}</span></h2>
      <div class="post_content">
        <p style="line-height: 175%">
        {% if msg %}  {{sub_msg}}<br/> {% endif %}
        </p>
      </div>
      <div class="clr"></div>
      </div>
      {% endif %}

      <div class="article">
        <h2><span>Maintenance</span></h2>
        <div class="post_content">
           <p style="line-height: 175%">
            This service is not available due to temporary maintenance work <br/> (approximately until Monday, August 3, 2020 at 3 p.m.).
        </div>
        <div class="clr"></div>
      </div>

    </div>

    {% block sidebar %}
    {% include 'side_bar.html' %}
    {% endblock %}
    <div class="clr"></div>
  </div>
</div>
{% endblock %}
