{% extends 'base.html' %}

{% block menubar %}
{% include 'menu_bar.html' with activate="partners" user=user %}
{% endblock %}

{% block content %}
<div class="content">
  <div class="content_resize">
    <div class="mainbar">

      <div class="article">

        <h2>Funded by</h2>
          <div class="img">
              <a href="https://www.anu.edu.au/"><img style="padding-right: 50px" src="/static/2x_anu_logo_small.svg" width="185" height="65" title="ANU" /></a>
              <a href="https://m3d.edu.au/"><img style="padding-right: 50px" src="/static/M3D-logo-200px.png" width="89" height="65" title="M3D" /></a>
          </div>
        <div class="clr"></div>

        <h2>Partners</h2>
          <div class="img">
              <a href="https://www.cos.uni-heidelberg.de/index.php/j.wittbrodt?l="><img style="padding-right: 50px" src="/static/cos_logo.png" width="167" height="65" title="cos" /></a>
              <a href="https://www.naturkundemuseum-bw.de/forschung/entomologie"><img style="padding-right: 50px" src="/static/logo_smns.jpg" width="168" height="65" title="smns" /></a>
              <a href="https://www.kit.edu/"><img src="/static/kit_logo_V2.svg" width="143" height="65" title="KIT" /></a>
          </div>
          <div class="img">
              <a href="https://www.stiftung-chirurgie.de/"><img style="padding-right: 50px" src="/static/Logo_HD_Stiftung_Chirurgie.svg" width="188" height="65" title="stiftung chirurgie" /></a>
              <a href="https://www.klinikum.uni-heidelberg.de/chirurgische-klinik-zentrum/"><img style="padding-right: 50px" src="/static/chirurgische_klinik_hd.jpeg" width="65" height="65" title="chirurgische klinik hd" /></a>
          </div>
        <div class="clr"></div>

        <ul class="partners">
          <li><a href="https://www.econetlab.net/" title="Ecological Networks">Ecological Networks, TU Darmstadt</a></li>
          <li><a href="https://www.ipe.kit.edu/" title="IPE">Institute for Data Processing and Electronics (IPE), KIT </a></li>
          <li><a href="https://las.physik.kit.edu/" title="LAS">Laboratory for Applications of Synchrotron Radiation (LAS), KIT</a></li>
          <li><a href="https://www.ips.kit.edu/" title="IPS">Institute for Photon Science and Synchrotron Radiation (IPS), KIT</a></li>
        </ul>
        <div class="clr"></div>

      </div>
    </div>
    {% block sidebar %}
    {% include 'side_bar.html' %}
    {% endblock %}
    <div class="clr"></div>
  </div>
</div>
{% endblock %}
