{% extends 'base.html' %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
<script type="text/javascript">
function deleteFunction(id, status, message) {
    var r = confirm("Are you sure you want to delete your account and all files? This cannot be reversed!");
        if (r == true) {
            window.location.href = "/delete_account/";
            window.close();
            }
    }

function removeFunction(id) {
  $.getJSON("/repository/unsubscribe/" + id, function(json){
    if (json['success'] == true) {
      setTimeout(function(){
        window.location.reload();
      });
    } else {
      alert("Something went wrong... ");
    }
  });
}

function shareFunction(id, username) {
  $.getJSON("/share_repository/", { id:id, username:username }, function(json){
    if (json['success'] == true) {
      if ('msg' in json) {
        alert(json['msg']);
      }
    } else {
      alert("Something went wrong... ");
    }
  });
}

function addClickHandlers() {
  $(".remove_link").click( function() {
    var r = confirm("Unsubscribe from the repository?");
    if (r == true) {
      removeFunction(this.id);
    }
  });

  $(".share_link").click( function() {
    var username = prompt("Please enter an user you want to add.");
    if (username != '' && username != null) {
      shareFunction(this.id, username);
    }
  });
}
$(document).ready(addClickHandlers);
</script>
{% endblock %}

{% block menubar %}
{% include 'menu_bar.html' with activate="profile" user=user %}
{% endblock %}

{% block content %}
<div class="content">
  <div class="content_resize">
    <div class="mainbar">
      <div class="article">

         <h2> <span>Profile</span> </h2>

          <div class="messagebox">
          {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                <li class="success alert">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          </div>

          <!-- search for users -->
          {% if user.is_superuser %}
          <form class="searchfield" method="GET" action="" >
            Select other user:
            <input class="searchfield" type="search" name="search" id="tags">
              <script>
                $( function() {
                var availableTags = [
                  {% for user_ in user_list %}
                    "{{user_.username}}",
                  {% endfor %}
                  ];
                $( "#tags" ).autocomplete({
                  source: availableTags
                  });
                });
            </script>
            <button class="searchfield" type="submit"> Search </button>
          </form>
          </br>
          {% endif %}

          <form method="post" class="form1">
            {% csrf_token %}
            {{ user_form.as_p }}
            <button type="submit">Save changes</button>
          </form>

          </br>
          <a href="/password/">Change password</a>

          </br>
          </br>
          <a href=# onclick="deleteFunction()">Delete account</a>

          </br>
          </br>
          Version: {{APP_VERSION_NUMBER}}

          </br>
          </br>
          {% if repositories %}
            <h2> <span>My Repositories</span> </h2>
            {% for repo in repositories %}
              <a href="/repository/{{repo.id}}">{{ repo.repository_alias }}</a>
              <span class="remove_link" id="{{repo.id}}"><img src="/static/icon-deletelink.svg" title="unsubscribe" style="width:20px;height:20px;border:0;cursor:pointer;"></span>
              <span class="share_link" id="{{repo.id}}"><img src="/static/share2.png" title="share" style="width:20px;height:20px;border:0;cursor:pointer;"></span>
            {% endfor %}
          {% endif %}
      </div>
    </div>

    {% block sidebar %}
    {% include 'side_bar.html' %}
    {% endblock %}
    <div class="clr"></div>
  </div>
</div>
{% endblock %}
