{% extends 'base.html' %}

{% block menubar %}
{% include 'menu_bar.html' with activate="publications" user=user %}
{% endblock %}

{% block content %}
<div class="content">
  <div class="content_resize">
    <div class="mainbar">

      <div class="article">
        <h2><span>Publications using Biomedisa</span></h2>
          <p>
            <i>The following publications used Biomedisa for image segmentation. Please get in touch with us if your publication is missing.</i>
          </p>

          <p>
            <h3><span> 2021 </span></h3>
            <li>
              Bemmann, M. et al. <a href="https://doi.org/10.1016/j.jsb.2020.107658">Movement analysis of primate molar teeth under load using synchrotron X-ray microtomography.</a> <i>J. Struct. Biol.</i> <b>213,</b> 107658 (2021).
            </li>
          </p>

          <p>
            <h3><span> 2020 </span></h3>
            <li>
              Richter, A. et al. <a href="http://www.doi.org/10.26049/ASP78-1-2020-06">Comparative analysis of worker head anatomy of Formica
and Brachyponera (Hymenoptera: Formicidae).</a> <i>Arthropod Syst Phylo.</i> <b>78,</b> 133-170 (2020).
            </li>
            <li>
              Gutiérrez, Y., David, O. & Scherber, C. <a href="https://doi.org/10.1038/s41598-020-64252-5">Direct and indirect effects of plant diversity and phenoxy herbicide application on the development and reproduction of a polyphagous herbivore.</a> <i>Sci. Rep.</i> <b>10,</b> 7300 (2020).
            </li>
            <li>
              Buser, T.J. et al. <a href="https://doi.org/10.1093/iob/obaa009">The natural historian’s guide to the CT galaxy: step-by-step instructions for preparing and analyzing computed tomographic (CT) data using cross-platform, open access software.</a> <i>Integr. Comp. Biol.</i> obaa009 (2020).
            </li>
          </p>

          <p>
            <h3><span> 2019 </span></h3>
            <li>
              Balanta-Melo, J. et al. <a href="https://doi.org/10.1111/joor.12747">Masseter muscle atrophy impairs bone quality of the mandibular condyle but not the alveolar process early after induction.</a> <i>J. Oral Rehabil.</i> <b>46,</b> 233-241 (2019).
            </li>
          </p>

          <p>
            <h3><span> 2018 </span></h3>
            <li>
              Balanta-Melo, J., Bemmann, M., Toro-Ibacache, V., Kupczik, K. & Buvinic, S. <a href="http://estomatologia.univalle.edu.co/index.php/revista_estomatologia/article/view/7634">Three-dimensional assessment of enamel and dentine in mouse molar teeth during masseter muscle hypofunction.</a> <i> Rev. Estomatol.</i> <b>26,</b> 30-37 (2018).
            </li>
            <li>
              Mikó, I. et al. <a href="https://doi.org/10.1093/isd/ixy015">Revision of Trassedia (Hymenoptera: Ceraphronidae), an Evolutionary Relict With an Unusual Distribution.</a> <i>Insect Syst. Divers.</i> <b>2,</b> 1-29 (2018).
            </li>
            <li>
              Weinhardt, W. et al. <a href="https://doi.org/10.1038/s41598-018-34848-z">Quantitative morphometric analysis of adult teleost fish by X-ray computed tomography.</a> <i>Sci. Rep.</i> <b>8,</b> 16531 (2018).
            </li>
            <li>
              van de Kamp, T. et al. <a href="https://doi.org/10.1038/s41467-018-05654-y">Parasitoid biology preserved in mineralized fossils.</a> <i>Nat. Commun.</i> <b>9,</b> 3325 (2018).
            </li>
            <li>
              Mikó, I. et al. <a href="https://doi.org/10.7717/peerj.5174">A new megaspilid wasp from Eocene Baltic amber (Hymenoptera: Ceraphronoidea), with notes on two non-ceraphronoid families: Radiophronidae and Stigmaphronidae.</a> <i>PeerJ</i> <b>6,</b> e5174 (2018).
            </li>
          </p>

          <p>
            <h3><span> 2017 </span></h3>
            <li>
            Schmelzle, S. et al. <a href="https://doi.org/10.1117/12.2275959">The NOVA project: maximizing beam time efficiency through synergistic analyses of SRμCT data.</a> In <i>Proc. SPIE</i> <b>103910,</b> 103910P (2017).
            </li>
            <li>
            Lösel, P. & Heuveline, V. <a href="https://doi.org/10.1007/978-3-319-52280-7_12">A GPU Based Diffusion Method for Whole-Heart and Great Vessel Segmentation,</a> in <i>Reconstruction, Segmentation, and Analysis of Medical Images. RAMBO 2016, HVSMR 2016</i> (eds Zuluaga, M., Bhatia, K., Kainz, B., Moghari, M. & Pace, D.) 121-128 (Springer, Cham, 2017).
            </li>
          </p>

          <p>
            <h3><span> 2016 </span></h3>
            <li>
            Lösel, P. & Heuveline, V. <a href=" https://doi.org/10.1117/12.2216202">Enhancing a diffusion algorithm for 4D image segmentation using local information.</a> In <i>Proc. SPIE</i> <b>9784,</b> 97842L (2016).
            </li>
          </p>

      </div>
    </div>
    {% block sidebar %}
    {% include 'side_bar.html' %}
    {% endblock %}
    <div class="clr"></div>
  </div>
</div>
{% endblock %}
