{% extends 'base.html' %}

{% block scripts %}
<script type="text/javascript">
function sliceviewerFunction(id, repository_name) {
    window.location.href = "/" + repository_name + "/sliceviewer/?id=" + id + "&object=specimen";
}

function downloadFunction(id, obj, repository_name) {
    window.location.href = "/" + repository_name + "/download/?id=" + id + "&object=" + obj;
}

function visualizationFunction(id, repository_name) {
    window.location.href = "/" + repository_name + "/visualization/?id=" + id + "&object=specimen";
}
</script>
{% endblock %}

{% block menubar %}
{% include 'menu_bar.html' with activate="repository" user=user %}
{% endblock %}

{% block slideshow %}
  {% if featured_img %}
  <a href="{{featured_url}}" target="_blank"><img src="/media/{{featured_img}}" width="{{featured_img_width}}" height="{{featured_img_height}}" alt="" /></a>
  {% endif %}
{% endblock %}

{% block content %}

<div class="fbg">
  <div class="fbg_resize">

  {% if featured_img == None %}
    <h2 style="text-align:left;text-transform:uppercase">
    {{repository.name}}
    </h2>
  {% endif %}

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <p class="warning">{{ message }}</p>
      {% endfor %}
    </ul>
  {% endif %}
  </br>

  <!-- search for specimens -->
  <form class="searchfield" method="GET" action="" >
    Species:
    <input class="searchfield" type="search" name="search" id="tags">
      <script>
        $( function() {
        var availableTags = [
          {% for specimen in all_specimens %}
            "{{specimen.subfamily}}",
            "{{specimen.genus}}",
            "{{specimen.species}}",
            "{{specimen.caste}}",
            "{{specimen.internal_id}}",
          {% endfor %}
          ];
        $( "#tags" ).autocomplete({
          source: availableTags
          });
        });
    </script>
    <button class="searchfield" type="submit"> Search </button>
  </form>
  </br>

  <form>
    <table style="width:100%" border="0">
    <!-- iterate over all specimens without model -->
    {% for img in specimens %}
      {%if forloop.counter0|divisibleby:"2" %}
        <tr>
      {% endif %}
      <td>
        <div id="img{{ img.id }}" >
          <p style="text-align:left;">
          <!-- screenshot -->
          <a href="/{{repository.name}}/specimen/{{img.id}}"><img src="/media/{{img.parent_folder}}/{{img.internal_id}}.png" title="info" style="width:425px;height:238px;border:0"></a>
          </br></br>
          <!-- get name of specimen -->
          {% if img.name or img.subfamily or img.caste or img.specimen_code %}
              <span>{{ img.name }} | {{ img.subfamily }} | {{ img.caste }} | {{ img.specimen_code }}</span>
              {% else %}
              <span>{{ img.internal_id }}</span>
          {% endif %}
          <!-- feature buttons --></br>
          <a href=# onclick="downloadFunction({{img.id}},'specimen','{{repository.name}}')"><img src="/static/downloads.png" alt="download" style="width:20px;height:20px;border:0;"></a>
          <a href=# onclick="sliceviewerFunction({{img.id}},'{{repository.name}}')"><img src="/static/2D_plain.png" title="slice viewer" width="30" height="20" onMouseOver="this.src='/static/2D_filled.png'" onMouseOut="this.src='/static/2D_plain.png'"></a>
          <a href=# onclick="visualizationFunction({{img.id}},'{{repository.name}}')"><img src="/static/mesh.svg" title="visualization" style="width:20px;height:20px;"></a>
          <a href="/{{repository.name}}/specimen/{{img.id}}"><img src="/static/info.png" alt="info" style="width:20px;height:20px;border:0;"></a>
          </p>
        </div>
      </td>
      {%if forloop.counter|divisibleby:"2" %}
        <tr>
      {% endif %}
    {% endfor %}
    </table>
  </form>
    {% if not show_all %}
        <form method="get">
            <button type="submit" name="show_all" value="True">Show All</button>
        </form>
    {% endif %}
  <div class="clr"></div>
  </div>
</div>
{% endblock %}

