<div class="sidebar">
  <div class="gadget">
    <h2 class="star">Menu</h2>
    <div class="clr"></div>
    <ul class="sb_menu">
      <li><a href="/">Home</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/publications">Publications</a></li>
      <li><a href="/partners">Partners</a></li>
      <li><a href="/impressum">Impressum</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="https://twitter.com/biomedisa"><img style="padding-right: 5px" src="/static/twitter_bird_logo.png" width="18.44" height="15" title="twitter"/>twitter</a></li>
    </ul>
  </div>
</div>
