<div class="sidebar">
  <div class="gadget">
    <h2 class="star">Menu</h2>
    <div class="clr"></div>
    <ul class="sb_menu">
      <li><a href="/">Home</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/partners">Partners</a></li>
      <li><a href="/impressum">Impressum</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="https://twitter.com/biomedisa" target="_blank"><img style="padding-right: 5px" src="/static/twitter_icon.svg" width="18.44" height="15" title="twitter"/>Twitter</a></li>
      <li><a href="https://www.youtube.com/channel/UCTNOthYVKyIWVvYYZSU_mfQ/" target="_blank"><img style="padding-right: 5px" src="/static/youtube_icon.svg" width="18.44" height="12.83" title="youtube"/>YouTube</a></li>
      <li><a href="https://github.com/biomedisa/biomedisa" target="_blank"><img style="padding-right: 5px" src="/static/github_icon.svg" width="18.44" height="17.99" title="youtube"/>GitHub</a></li>
    </ul>
  </div>
</div>
