<div class="slider">
  <div id="coin-slider">
      <a href="#"><img src="/static/featured_image.png" width="960" height="335" alt="" /> </a>
      <a href="#"><img src="/static/merged_wasps.png" width="960" height="335" alt="" /> </a>
      <a href="#"><img src="/static/Abb_1_large.png" width="960" height="335" alt="" /> </a>
      <a href="#"><img src="/static/eucrib_wallpaper.png" width="960" height="335" alt="" /></a>
      <a href="#"><img src="/static/visualization_wallpaper.png" width="960" height="335" alt="" /> </a>
      <a href="#"><img src="/static/labeledslices_coinslider.png" width="960" height="335" alt="" /> </a>
      </div>
  <div class="clr"></div>
</div>
