{% extends 'base.html' %}

{% block scripts %}
<script type="text/javascript">
function alertFunction(state) {
    alert(state);
    window.location.href = "/cleanstate/storage";
    window.close();
}

function sliceviewerFunction(id) {
    window.location.href = "/repository/sliceviewer/?id=" + id + "&object=tomographic";
    window.close();
}

function visualizationFunction(id) {
    window.location.href = "/visualization/?selected=" + id + "&next=storage";
    window.close();
}

function changeFunction(id, val) {
    window.location.href = "/change_active_final/" + id + "/" + val + "/?next=storage";
    window.close();
}

function toggle(value) {
    checkboxes = document.getElementsByName('selected');
    for (var i = 0,
        n = checkboxes.length; i < n; i++) {
        checkboxes[i].checked = value;
    }
}

function deleteFunction(id) {
  $.getJSON("/delete/", { id:id, object:'tomographic'}, function(json){
    if (json['success'] == true) {
        divid = "#img" + id;
        $(divid).hide();
    } else {
      alert("Something went wrong... ");
    }
  });
}

function moveFunction(id, project) {
  $.getJSON("/move/", { id:id, project:project }, function(json){
    if (json['success'] == true) {
      if ('msg' in json) {
        alert(json['msg']);
      } else {
        divid = "#img" + id;
        $(divid).hide();
      }
    } else {
      alert("Something went wrong... ");
    }
  });
}

function shareFunction(id) {
  $.getJSON("/share/repository/", { id:id }, function(json){
    if (json['success'] == true) {
      if ('msg' in json) {
        alert(json['msg']);
      }
    } else {
      alert("Something went wrong... ");
    }
  });
}

function acceptFunction(id) {
  $.getJSON("/accept/", { id:id }, function(json){
    if (json['success'] == true) {
      if ('msg' in json) {
        alert(json['msg']);
      }
      setTimeout(function(){
        window.location.reload();
      });
    } else {
      alert("Something went wrong... ");
    }
  });
}

function renameFunction(id, filename) {
  $.getJSON("/rename/", { id:id, filename:filename }, function(json){
    if (json['success'] == true) {
      if ('msg' in json) {
        alert(json['msg']);
      } else {
          window.location.reload();
      }
    } else {
      alert("Something went wrong... ");
    }
  });
}

function createFunction(id) {
  $.getJSON("/dummy/", { id:id }, function(json){
    if (json['success'] == true) {
      window.location.href = "/create/" + id;
      window.close();
    } else {
      alert("Something went wrong... ");
    }
  });
}

function addClickHandlers() {
  $(".delete_link").click( function() {
    var r = confirm("Delete File?");
    if (r == true) {
      deleteFunction(this.id);
    }
  });

  $(".move_link").click( function() {
    var project = prompt("Move to Project");
    if (project != '' && project != null) {
      project = parseInt(project);
      if (!isNaN(project) && project > 0 && project < 10) {
        moveFunction(this.id, project);
      }
    }
  });

  $(".share_link").click( function() {
    var r = confirm("Copy to storage?");
    if (r == true) {
      shareFunction(this.id);
    }
  });

  $(".rename_link").click( function() {
    var res = (this.id).split(",");
    var id = parseInt(res[0]);
    var name = res[1];
    var filename = prompt("Enter new filename", name);
    if (filename != '' && filename != null) {
      renameFunction(id, filename);
    }
  });

  $(".accept_link").click( function() {
    var res = (this.id).split(",")
    var id = res[0]
    var shared_by = res[1]

    var r = confirm("Accept file shared by " + shared_by + "?");
    if (r == true) {
      acceptFunction(id);
    }
  });
}
$(document).ready(addClickHandlers);
</script>
{% endblock %}

{% block menubar %}
{% include 'menu_bar.html' with activate="repository" user=user %}
{% endblock %}

{% block content %}
<div class="fbg">
  <div class="fbg_resize">
    <div class="col c0">
      <h2> <span> {{ name }} </span> </h2>

      <div class="messagebox">
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="success alert">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      </div>

      {% if specimen.sketchfab %}
        <iframe id="view360Iframe" style="width: 425px; height: 238px" scrolling="0" src="https://sketchfab.com/models/{{specimen.sketchfab}}/embed?ui_infos=0&amp;ui_watermark=0&amp;ui_help=0&amp;ui_settings=0&amp;ui_inspector=0&amp;ui_annotations=0&amp;ui_stop=1&amp;ui_vr=0&amp;preload=1&amp;autostart=0&amp;ui_hint=2&amp;autospin=0.2">
        </iframe>
      </br></br>
      {% endif %}

      <form method="post" class="form1">
        {% csrf_token %}
        {{ specimen_form.as_p }}
        <button type="submit">Save changes</button>
      </form>

      </br>
      <h2> <span> Tomographic data </span> </h2>
      {% for img in tomographic_data %}
          {% if img.imageType == 1 %}
            <div id="img{{ img.id }}" >
              <p style="text-align:left;">
              <a href=# onclick="visualizationFunction({{img.id}})"><img src="/static/file_image.svg" title="visualization" style="width:50px;height:50px;border:0;"></a>
              <span class="delete_link" id="{{img.id}}"><img src="/static/icon-deletelink.svg" title="remove" style="width:20px;height:20px;border:0;cursor:pointer;"></span>
              <a href="/repository/download/{{img.id}}"><img src="/static/downloads.png" alt="download" style="width:20px;height:20px;border:0;"></a>
              <a href=# onclick="sliceviewerFunction({{img.id}})"><img src="/static/2D_plain.png" title="slice viewer" width="30" height="20" onMouseOver="this.src='/static/2D_filled.png'" onMouseOut="this.src='/static/2D_plain.png'"></a>
              <span class="share_link" id="{{img.id}}"><img src="/static/share2.png" title="share" style="width:20px;height:20px;border:0;cursor:pointer;"></span>
              <a href="/repository/data/{{img.id}}"><img src="/static/info.png" alt="info" style="width:20px;height:20px;border:0;"></a>
              <input type="checkbox" name="selected" value="{{img.id}}"/>
              {{ img.pic }}
              <span style="float:right;"> </br> {{ img.upload_date }}</span>
              </p>
            </div>
          {% elif img.imageType == 2 %}
            <div id="img{{ img.id }}" >
              <p style="text-align:left;">
              <a href=# onclick="visualizationFunction({{img.id}})"><img src="/static/file_label.svg" title="visualization" style="width:50px;height:50px;border:0;"></a>
              <span class="delete_link" id="{{img.id}}"><img src="/static/icon-deletelink.svg" title="remove" style="width:20px;height:20px;border:0;cursor:pointer;"></span>
              <a href="/repository/download/{{img.id}}"><img src="/static/downloads.png" title="download" style="width:20px;height:20px;border:0;"></a>
              <a href=# onclick="sliceviewerFunction({{img.id}})"><img src="/static/2D_plain.png" title="slice viewer" width="30" height="20" onMouseOver="this.src='/static/2D_filled.png'" onMouseOut="this.src='/static/2D_plain.png'"></a>
              <span class="share_link" id="{{img.id}}"><img src="/static/share2.png" title="share" style="width:20px;height:20px;border:0;cursor:pointer;"></span>
              <input type="checkbox" name="selected" value="{{img.id}}"/>
              <span class="rename_link" id="{{img.id}},{{img.shortfilename}}" title="rename">{{ img.shortfilename }}</span>
              <span style="float:right;"> </br>> {{ img.upload_date }}</span>
              </p>
            </div>
          {% elif img.imageType == 4 %}
            <div id="img{{ img.id }}" >
              <p style="text-align:left;">
              <a href='#'><img src="/static/file_ai.svg" title="network" style="width:50px;height:50px;border:0;"></a>
              <span class="delete_link" id="{{img.id}}"><img src="/static/icon-deletelink.svg" title="remove" style="width:20px;height:20px;border:0;cursor:pointer;"></span>
              <a href="/repository/download/{{img.id}}"><img src="/static/downloads.png" title="download" style="width:20px;height:20px;border:0;"></a>
              <span class="share_link" id="{{img.id}}"><img src="/static/share2.png" title="share" style="width:20px;height:20px;border:0;cursor:pointer;"></span>
              <input type="checkbox" name="selected" value="{{img.id}}"/>
              <span class="rename_link" id="{{img.id}},{{img.shortfilename}}" title="rename">{{ img.shortfilename }}</span>
              <span style="float:right;"> </br> {{ img.upload_date }}</span>
              </p>
            </div>
          {% elif img.imageType == 5 %}
            <div id="img{{ img.id }}" >
              <p style="text-align:left;">
              <a href=# onclick="visualizationFunction({{img.id}})"><img src="/static/file_mesh.svg" title="visualization" style="width:50px;height:50px;border:0;"></a>
              <span class="delete_link" id="{{img.id}}"><img src="/static/icon-deletelink.svg" title="remove" style="width:20px;height:20px;border:0;cursor:pointer;"></span>
              <a href="/repository/download/{{img.id}}"><img src="/static/downloads.png" title="download" style="width:20px;height:20px;border:0;"></a>
              <span class="share_link" id="{{img.id}}"><img src="/static/share2.png" title="share" style="width:20px;height:20px;border:0;cursor:pointer;"></span>
              <input type="checkbox" name="selected" value="{{img.id}}"/>
              <span class="rename_link" id="{{img.id}},{{img.shortfilename}}" title="rename">{{ img.shortfilename }}</span>
              <span style="float:right;"> </br> {{ img.upload_date }}</span>
              </p>
            </div>
          {% elif img.active %}
            <div id="img{{ img.id }}" >
              <p style="text-align:left;">
              <a href=# onclick="visualizationFunction({{img.id}})"><img src="/static/file_final.svg" title="visualization" style="width:50px;height:50px;border:0;"></a>
              <span class="delete_link" id="{{img.id}}"><img src="/static/icon-deletelink.svg" title="remove" style="width:20px;height:20px;border:0;cursor:pointer;"></span>
              <a href="/repository/download/{{img.id}}"><img src="/static/downloads.png" title="download" style="width:20px;height:20px;border:0;"></a>
              <a href=# onclick="sliceviewerFunction({{img.id}})"><img src="/static/2D_plain.png" title="slice viewer" width="30" height="20" onMouseOver="this.src='/static/2D_filled.png'" onMouseOut="this.src='/static/2D_plain.png'"></a>
              <span class="share_link" id="{{img.id}}"><img src="/static/share2.png" title="share" style="width:20px;height:20px;border:0;cursor:pointer;"></span>
              <input type="checkbox" name="selected" value="{{img.id}}"/>
              <span class="rename_link" id="{{img.id}},{{img.shortfilename}}" title="rename">{{ img.shortfilename }}</span>
              <select id="sel_id" name="sel_name" onchange="changeFunction({{img.id}}, value)">
                  <option value="-1">select</option>
                  <option value="1">regular</option>
                  <option value="2">cleaned</option>
                  <option value="7">fill holes</option>
                  <option value="8">clean+fill</option>
                  <option value="3">Active C</option>
                  <option value="4">uncertainty</option>
                  <option value="5">smooth</option>
                  <option value="6">smooth+clean</option>
              </select>
              <span style="float:right;"> </br> {{ img.upload_date }}</span>
              </p>
            </div>
          {% endif %}
      {% endfor %}

      </br>
      <a href="/repository/{{ specimen.repository.id }}">Go back</a>

    </div>
    <div class="clr"></div>
  </div>
</div>
{% endblock %}
