<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Biomedisa</title>
  <link rel="shortcut icon" type="image/svg" href="/static/biomedisa_icon.png"/>
  <link rel="stylesheet" href="/static/visualizationtool/css/jquery-ui.css">
  <link rel="stylesheet" href="/static/visualizationtool/css/styles.css">

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
    <div id="container"></div>
    
    <div class="window-item window-unitem" id="settings">
        <div class="bar-header">
            <div class="bar-title noselect">Settings</div>
            
            <div class="bar-dropdown noselect">^</div>
        </div>
        <div class="bar-settings">
            <div class="bar-wrapper">
                <div class="line"></div>
                <div class="bar-setup">
                    <span class="bl bar-hl">Box wireframe</span>
                    <span id="settings-box" class="br bar-info">
                        <input type="checkbox" name="wireframe" value="wireframe" checked>
                    </span>
                </div>
                <div class="bar-setup">
                    <span class="bl bar-hl">Background color</span>
                    <span class="br bar-info">
                        <input id="bg-color" class="jscolor" value="fff">
                    </span>
                </div>
                <div class="bar-setup">
                    <span class="bl bar-hl">Grey values</span>
                    <span class="br bar-info">
                        <div id="slider-range"></div>
                    </span>
                </div>
                <div class="bar-setup">
                    <span class="bl bar-hl"> </span>
                    <span class="br bar-info">
                        <input id="textLowerGray" type="text" value="0"><input id="textUpperGray" type="text" value="255">
                    </span>
                </div>
                
                <div class="bar-setup">
                    <span class="bl bar-hl">X-direction</span>
                    <span class="br bar-info">
                        <div id="slider-range-x"></div>
                    </span>
                </div>
                <div class="bar-setup">
                    <span class="bl bar-hl"> </span>
                    <span class="br bar-info">
                        <input id="textLowerX" type="text" value="0"><input id="textUpperX" type="text" value="255">
                    </span>
                </div>
                
                <div class="bar-setup">
                    <span class="bl bar-hl">Y-direction</span>
                    <span class="br bar-info">
                        <div id="slider-range-y"></div>
                    </span>
                </div>
                <div class="bar-setup">
                    <span class="bl bar-hl"> </span>
                    <span class="br bar-info">
                        <input id="textLowerY" type="text" value="0"><input id="textUpperY" type="text" value="255">
                    </span>
                </div>
                
                <div class="bar-setup">
                    <span class="bl bar-hl">Z-direction</span>
                    <span class="br bar-info">
                        <div id="slider-range-z"></div>
                    </span>
                </div>
                <div class="bar-setup">
                    <span class="bl bar-hl"> </span>
                    <span class="br bar-info">
                        <input id="textLowerZ" type="text" value="0"><input id="textUpperZ" type="text" value="255">
                    </span>
                </div>
                <div class="line"></div>
                <div class="bar-setup">
                    <span class="bl bar-hl">View Mode</span>
                </div>
                <br />
                <div class="bar-setup">
                    <span class="bl bar-hl">Volren</span>
                    <span id="viewVolren" class="br bar-info">
                        <input type="checkbox" name="Volren" value="Volren" checked>
                    </span>
                </div>
                <div class="bar-setup">
                    <span class="bl bar-hl">Iso</span>
                    <span id="viewIso" class="br bar-info">
                        <input type="checkbox" name="Iso" value="Iso">
                    </span>
                </div>
                <div class="bar-setup">
                    <span class="bl bar-hl">Low resolution</span>
                    <span id="lowResolution" class="br bar-info">
                        <input type="checkbox" name="lowRes" value="lowRes" checked>
                    </span>
                </div>
                <div class="bar-setup">
                    <span class="bl bar-hl">Medium resolution</span>
                    <span id="mediumResolution" class="br bar-info">
                        <input type="checkbox" name="medRes" value="medRes">
                    </span>
                </div>
                <div class="bar-setup">
                    <span class="bl bar-hl">High resolution</span>
                    <span id="highResolution" class="br bar-info">
                        <input type="checkbox" name="highRes" value="highRes">
                    </span>
                </div>
            </div>
        </div>
    </div>
    
    <!--
    <div class="window-item" id="orientation">
        <div class="bar-header">
            <div class="bar-title noselect">Orientation</div>
            
            <div class="bar-dropdown noselect">^</div>
            <div class="bar-close noselect">&#215;</div>
        </div>
        <div class="bar-orientation">
            <canvas class="bar-wrapper" id="compass" width="200" height="180"></canvas>
        </div>
    </div>
    -->
    
    <div id="window-tab">
        
        <!--<div id="offOrientation" class="noselect bar-pil">Orientation</div>-->
        <div id="offSettings" class="noselect bar-pil">Settings</div>
    </div>
    
    <div class="window-cp" id="control-panel">
        <div class="bar-header">
            <div id="toggleGUI" class="bar-button noselect">Show/Hide GUI</div>
            <!--<div id="testTrigger" class="bar-button noselect">Test Trigger</div>-->
        </div>
    </div>

    <script src="/static/visualizationtool/js/jquery.min.js"></script>
    <script src="/static/visualizationtool/js/jquery-ui.min.js"></script>
    <script src="/static/visualizationtool/js/scripts.js"></script>
    <script src="/static/visualizationtool/js/three.min.js"></script>
    <script src="/static/visualizationtool/js/TrackballControls.js"></script>
    <script src="/static/visualizationtool/js/ejs.js"></script>
    <script src="/static/visualizationtool/js/volumeRaycaster.js"></script>
    <script src="/static/visualizationtool/js/jscolor.js"></script>
    <script>

    var a = {{ path_to_slicemaps|safe }};

    config = {
        "dom_container": "container",
        "slicemaps_paths": a,
        "steps" : 256,
        "shader_name": "secondPassSoebel",
        "slices_range": [0, "*"],
        "row_col": [8, 8],
        "renderer_size": [256, 256],
        "renderer_canvas_size": ['fullscreen','fullscreen'],
        //"renderer_canvas_size": ['*','*'],
        "zFactor" : 1.0
    };
    wave = new VRC.VolumeRaycaster(config);
    wave.showZoomBox(false);
    </script>
</body>
</html>
