pip==23.3.2
setuptools==68.2.2
testresources==2.0.1
scikit-build==0.17.6
numpy==1.24.3
scipy==1.11.3
h5py==3.9.0
colorama==0.4.6
numpy-stl==3.0.1
numba==0.58.0
imagecodecs==2023.9.18
tifffile==2023.9.26
scikit-image==0.22.0
opencv-python==4.8.1.78
netCDF4==1.6.3
mrcfile==1.5.0
Pillow==10.0.1
nibabel==5.1.0
MedPy==0.4.0
SimpleITK==2.3.0
mpi4py==3.1.5
itk==5.3.0
vtk==9.2.6
matplotlib==3.8.0
biomedisa==24.7.1
importlib_metadata==4.6.4
tensorflow==2.13.0
