setuptools
testresources
scikit-build
numpy
scipy
h5py
colorama
numpy-stl
numba
imagecodecs
tifffile
scikit-image
opencv-python
netCDF4
mrcfile
Pillow
nibabel
MedPy
SimpleITK
mpi4py
itk
vtk
matplotlib
biomedisa
importlib_metadata
