setuptools
testresources
scikit-build
numpy
scipy
h5py
colorama
numpy-stl
numba
imagecodecs
tifffile
scikit-image
opencv-python==4.8.1.78
netCDF4
mrcfile
Pillow
nibabel
MedPy
SimpleITK
mpi4py
itk
vtk
matplotlib
biomedisa>=25.8.3
importlib_metadata
zarr
