/* latin-ext */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(mrl8jkM18OlOQN8JLgasD4a1YDtoarzwSXxTHggEXMw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(mrl8jkM18OlOQN8JLgasD5bPFduIYtoLzwST68uhz_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.window-item,
.window-cp,
.window-unitem {
    font-family: 'Source Code Pro';
    border: 1px solid #333333;
    border-radius: 10px;
    padding: 0 10px 10px 10px;
    background-color: rgba(210,210,210,0.5);
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.58);
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.58);
}

#message {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20%;
}

#orientation {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 200px;
}

#settings {
    position: absolute;
    top: 100px;
    right: 10px;
    width: 200px;
}

.bar-header {
    /* flexbox setup */
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    /*border: 1px solid #333333;*/
    padding-right: 5px;
    background-color: rgba(0,0,0,0.6);
}

.bar-title {
    text-align: center;
    width: 100%;
    padding: 10px;
    /*border: 1px solid #333333;*/
    margin-right: 5px;
    color: white;
    background-color: rgba(160,160,160,0.5);
}

.bar-dropdown,
.bar-close {
    text-align: center;
    width: 16px;
    height: 16px;
    padding: 5px;
    /*border: 1px solid #333333;*/
    background-color: rgba(160,160,160,0.5);
    color: white;
}

.bar-title:hover {
    color: #f7b733;
    cursor: pointer;
}

.bar-dropdown:hover,
.bar-close:hover {
    background-color:#f7b733;
    cursor: pointer;
}

.bar-settings {
    background-color: rgba(21, 21, 21, .4);
    height: 400px;
    font-size: 12px;
    /*
    transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    */
}

.bar-message {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgba(21, 21, 21, .4);
    height: 200px;
    font-size: 12px;
    /*
    transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    */
}

.bar-orientation {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgba(21, 21, 21, .4);
    height: 200px;
    font-size: 12px;
    /*
    transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    */
}

.bar-wrapper > div {
    margin-bottom: 5px;
}

.bar-hl {
    color: #f7b733;
    margin-right: 5px;
}

.bar-info {
    color: #fff;
}

.bar-button {
    text-align: center;
    width: 150px;
    padding: 10px;
    color: white;
    background-color: rgba(160,160,160,0.5);
}

#control-panel {
    width: 250px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.bar-button:hover {
    background-color: #f7b733;
}

.bar-pil {
    width: 100px;
    font-size: 12px;
    font-family: 'Source Code Pro';
    padding: 0 10px 10px 10px;
    background-color: rgba(160,160,160,1.0);
    text-align: center;
    padding: 10px;
    /*border: 1px solid #333333;*/
    margin-right: 5px;
    color: white;
}

.bar-pil:hover {
    background-color:#f7b733;
    cursor: pointer;
}

#window-tab {
    display: none;
    position: absolute;
    left: 180px;
    bottom: 58px;
}

.bar-setup {
    /* flexbox setup */
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
}

.bl, .br {
    flex: 1;
}

#bg-color {
    width: 50px;
}

#slider-range,
#slider-range-x, 
#slider-range-y,
#slider-range-z {
    margin-right: 20px;
}

#textLowerGray,
#textUpperGray,
#textLowerX,
#textUpperX,
#textLowerY,
#textUpperY,
#textLowerZ,
#textUpperZ {
    width: 25px;
}

.line {
    width: 100%;
    height: 5px;
    border-bottom: 1px solid rgba(210, 210, 210, 0.5);;
}

