{% extends 'base.html' %}

{% block menubar %}
{% include 'menu_bar.html' with activate="profile" user=user %}
{% endblock %}

{% block content %}
<div class="content">
  <div class="content_resize">
    <div class="mainbar">
      <div class="article">

      {% if validlink %}
        <h2> <span>Change your password</span> </h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Change password</button>
        </form>
      {% else %}
        <p>
          The password reset link was invalid, possibly because it has already been used.
          Please request a new password reset.
        </p>
      {% endif %}

       </div>
     </div>

    {% block sidebar %}
    {% include 'side_bar.html' %}
    {% endblock %}
    <div class="clr"></div>
  </div>
</div>
{% endblock %}
