{% extends 'base.html' %}

{% block menubar %}
{% include 'menu_bar.html' with activate="app" user=user %}
{% endblock %}

{% block content %}
<div class="content">
  <div class="content_resize">
    <div class="mainbar">
      <div class="article">
        <h2><span>Email has been sent</span></h2>
        <div class="clr"></div>

          <p>
            We have emailed you instructions on how to reset your password if an account exists with the email address you entered.
            You should receive them shortly.
          </p>
          <p>
            If you do not receive an email, please make sure that you have entered the address under which you registered,
            and check your spam folder.
          </p>

      </div>
    </div>

    {% block sidebar %}
    {% include 'side_bar.html' %}
    {% endblock %}
    <div class="clr"></div>
  </div>
</div>
{% endblock %}
